main {
    padding: 40px; /* Augmenter le padding pour plus d'espace */
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    flex-direction: column; /* Aligner les éléments verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
}
main h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #2196F3; 
  }
  
main h2 {
    text-align: center;
    font-size: 1.5em; /* Taille de police plus petite pour les sous-titres */
    font-weight: bold;
    color: #4CAF50; 
  }
  
  /* Style des sections */
  .section {
    margin-bottom: 30px; 
  }
  
  /* Style des tableaux */
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto; /* Centrer les tableaux */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0; 
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Style des paragraphes */
  p {
    margin-bottom: 20px;
  }
  
  /* Style des résultats de requête */
  .result {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px; 
  }
  
  .result.error {
    border-color: #ff0000; /* Rouge en cas d'erreur */
  }
  
  .result p {
    margin: 0;
  }
  