.details {
    float: right;
    width: 50%;
    padding: 10px;
}

.links {
    width: 50%;
    padding: 10px;
}

.selector {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}

a:hover {
    color: #0056b3;
}

