.carteImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    margin: 10px;
}

.carteImg img {
    width: 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px black;
}

.carteImg p {
    top: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.carteImg div {
    position: relative;

}

.carteImg .pionContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 108px;
}

.carteImg .pion {
    /*position: absolute;*/
    /*bottom: 100px;*/
    width: 30px;
    height: 30px;
    /*border-radius: 50%;*/
    /*!*position: fixed;*!*/
    /*transform: translate(50px, -150px);*/
    cursor: pointer;
    margin: 5px;
}

.pionContainer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.player {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tourButton {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.diceForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    /*width: 100%;*/
    flex-wrap: wrap;
}

.dice img {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.dice {
    display: flex;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.selectionnerCarte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.diceSelection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}