/* Style général pour les formulaires */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les libellés */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style pour les sélecteurs de joueurs */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style pour les boutons */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#retirer {
    background-color: #f44336;
}
#retirer:hover {
    background-color: #da190b;
}
/* Style pour les boutons au survol */
#ajouter {
    background-color: #4caf50;

}
#ajouter:hover {
    background-color: #45a049;
}

/* Style pour le message lorsque aucun joueur n'est ajouté */
.no-players {
    margin-top: 10px;
    color: #777;
}

/* Styles pour les messages de succès */
.success {
    color: #4CAF50;
    background-color: #DFF2BF;
    border: 1px solid #4CAF50;
    padding: 10px;
    margin: 0 auto 10px; /* Centrer le message horizontalement */
    width: fit-content; /* Ajuster la largeur au contenu */
    text-align: center; /* Centrer le texte */
}

/* Styles pour les messages d'erreur */
.error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid #D8000C;
    padding: 10px;
    margin: 0 auto 10px; /* Centrer le message horizontalement */
    width: fit-content; /* Ajuster la largeur au contenu */
    text-align: center; /* Centrer le texte */
}
