body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
}

/* Style pour les footers */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Style pour les liens dans le footer */
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Style pour les liens au survol */
footer a:hover {
    color: #ffcc00;
}

/* Style pour les listes dans le footer */
footer ul {
    list-style-type: none;
    padding: 0;
}

/* Style pour les éléments de liste dans le footer */
footer li {
    margin-bottom: 5px;
}

/* Style pour les auteurs dans le footer */
footer p {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style pour l'année de réalisation dans le footer */
footer p:last-child {
    margin-bottom: 0;
}



/* CSS Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: Center content vertically */
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

.header_logo,
.header_titre {
    flex: 0 0 auto; /* Prevent elements from shrinking/growing */
}


.header_logo {
    float: left;
    margin: 10px 0;
}

.header_logo img {
    width: 150px;
    height: auto;
}

.header_titre {
    float: right;
    margin: 10px 0;
    text-align: center;
}

.header_titre h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.header_titre h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

/* CSS Nav */
nav {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 20px 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #000;
}
